body {
  background-color: #E31D38;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

a {
  color:#E31D38;
  text-decoration: none;
}

a:hover {
  color:black;
}

p {
  background-color: white;
}

.primary-statement {
  font-size: 55px;
  margin: 0px;
}

.secondary-statement {
  background-color: transparent;
  color: white;
  font-size: 45px;
  margin: 0px;
}

.site-header {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-style: italic;
}

nav a {
  text-decoration: none;
  color:white;
  /* color:#E31D38; */
}

nav a:hover {
  color:black;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  margin: 10px;
}

.showcase, .team, .gallery {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-evenly;
}

.showcase-item img {
  width: 100%;
}

.showcase-item {
  border-radius: 25px;
  background: white;
  padding: 20px;
  margin: 10px;
  width: 30%;
  /* height: 450px; */
}

footer p, footer a {
  background-color: black;
  color: white;
}

/* reviews */
.article {
  border-radius: 25px;
  background: white;
  padding: 20px;
  margin: 20px;

}

.article img {
  display: block;
  width: 75%;
  margin: auto;
}

.emph {
  font-weight: bold;
  font-style: italic;
}

.category {
  border-color: black;
  border-radius: 25px;
  border-style: double;
  padding: 10px;
  margin: 5px;
}

.check {
  border-color: black;
  border-radius: 25px;
  border-style:dotted;
  padding: 10px;
  margin: 5px;
}

/* about */
/* .team {
  background-color: white;
  border-color: black;
  border-style:inset;
  border-radius: 25px;
  padding: 20px;
} */

/* gallery */
.gallery {
  flex-direction: column;
}

.gallery div {
  /* width: 75%; */
  padding: 20px;
}

.gallery img {
  border-radius: 25px;
}